/* Color to turn to after click --> ##ec5d38 */

@font-face {
    font-family: Kalam;
    src: url("C:\Users\rudra\repos\restaurant-page\src\assets\font\comic-sans-ms-font-family\comici.ttf");
}

body{
    margin: 0;
    background-image: url("C:\Users\rudra\repos\restaurant-page\src\assets\images\background_image_text.jpg");
    background-size: cover;
    background-position: center;   
    background-repeat: no-repeat;   
    min-height: 100vh;
}

.container{
    display: flex;
    justify-content: space-between;
    background-color: #EEB48F;
    flex-wrap: wrap;
}

.navbar{
    display: flex;
    justify-content: space-between;
    gap: 120px;
}

.contact{
    margin-right: 100px;
}

.home, .menu, .about, .contact{
    background-color: transparent;
    border: none;
    font-size: 48px;
    font-family: Kalam;
    color: #814c4c;
    cursor: pointer;
}

.home:hover, .menu:hover, .about:hover, .contact:hover{
    color: #4d2f1f;
}

.food1, .food2{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.content{
    display: flex;
    flex-direction: column;
}

.food1_description, .food2_description{
    display: flex;
    gap: 100px;
    font-family: Kalam;
}

.intro{
    width: 900px;
}

.intro > h1{
    color: rgb(0, 0, 0);
    font-size: 48px;
}
.intro > p{
    font-size: 24px;
    color: #71607C;
    display: flex;
    flex-wrap: wrap;
}

.food1_description > img, .food2_description > img{
    margin-top: 20px;
    transform: rotate(-4deg);
    border: 10px solid rgb(123, 102, 155);
    border-radius: 35px;
    display: flex;
    flex-wrap: nowrap;
}

.food2_description > img{
    margin-top: 50px;
    transform: rotate(4deg);
}

.food1_image, .food2_image{
    height: 240px;
    width: 434px;
}

.banner{
    width: 100%;
    height: 310px;
}

.menu_container{
    text-align: center;
}

.menu_items{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-evenly;
    background-color: #f7efda;
    width: 2000px;
    margin-left: 60px;
    border-radius: 100px;
}

.appetizers > h1, .main-course > h1, .desserts > h1, .drinks > h1{
    font-family: "Playwrite IN", cursive;
    color: #e17b75;
    font-size: 2.8rem;
    font-weight: bolder;
}

.appetizers > p, .main-course > p, .desserts > p, .drinks > p{
    font-family: "Comic Relief", system-ui;
    font-size: 2rem;
    color: #e49a50;
    font-weight: bolder;
}

.menu_food_images{
    height: 200px;
    width: 200px;
    border: 10px solid #e7a8a9;
    border-radius: 30px;
}

.food_images{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 10px;
}

.about_us_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.about_us_heading{
    color: #eb7d59;
    font-size: 3.25rem;
    font-family: "Roboto", sans-serif;
    font-weight: bolder;
}

.about_us_secondary_heading{
    color: #815b28;
    font-size: 2.0rem;
    font-family: Kalam;
    font-weight: bold;
}

.about_us_description{
    color: #785421;
    font-size: 1.5rem;
    font-family: "Comic Relief", system-ui;
    width: 1700px;
}

.cupcake{
    height: 150px;
    width: 150px;
}

.cupcake_and_special{
    display: flex;
    gap: 30px;
}

.special{
    color: #785421;
    font-size: 1.8rem;
    font-weight: bolder;
}

.visit_us_soon{
    height: 250px;
    width: 200px;
}

.mochi-image, .tea-image{
    height: 150px;
    width: 150px;
}

.location-icon, .call-icon, .hour-image{
    height: 90px;
    width: 100px;
}

.contact-container{
    display: flex;
    justify-content: center;
}

.location, .call, .hours{
    display: flex;
}

.contact-page > span{
    font-size: 3.5rem;
    display: flex;
    justify-content: center;
    font-family: "Comic Relief", system-ui;
    color: #f29b79;
    font-weight: bolder;
}

.location-content > h1, .call-content > h1, .hours-content > h1{
    font-family: "Caveat", cursive;
    color: #a05a4a;
    font-size: 2.2rem;
    font-weight: bolder;
}
.location-content > p, .call-content > p, .hours-content > p{
    color: #af6c54;
    font-size: 1.5rem;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
}

.location, .call, .hours{
    width: 320px;
    height: 150px;
    background-color: #f9d4b9;
    margin-top: 15px;
    border-radius: 30px;
}

.location{
    height: 160px;
}

.hours{
    width: 330px;
    height: 300px;
}

.outro-line{
    font-family: "Comic Relief", system-ui;
    color: #98553d;
    font-size: 2rem;
    width: 950px;
}

.name_label, .email_label, .message_label{
    display: flex;
    gap: 10px;
    color: #9a6a56;
    font-size: 1.8rem;
    font-family: "Comic Relief", system-ui;
}

.name_input, .email_input, .message_input{
    color:#e07a5f;
    border: 4px solid #fee4ca;
    background-color: #fdf0d1;
    width: 17rem;
    height: 1.5rem;
    border-radius: 15px;
    font-family: "Comic Relief", system-ui;
}

.message_input{
    height: 4rem;
    resize: none;
}

.name, .email, .message{
    padding-top: 1rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
}

.message{
    padding-bottom: 1rem;
}

.message_input{
    margin-bottom: 10px;
}

.form{
    margin-left: 100px;
    border: 10px solid #fddfc8;
    border-radius: 30px;
}

.form-submit{
    border: none;
    color: #fef4d8;
    background-color: #f4a17d;
    border-radius: 25px;
    font-size: 30px;
    font-family: "Comic Relief", system-ui;
    padding: 1.0rem;
    padding-right: 1.8rem;
    padding-left: 1.8rem;
    display: flex;  
    margin-left: 20px;
    margin-bottom: 10px;
    cursor: pointer;
}

.form-submit:hover{
    background-color: #fb9367;
}

.anime-girl{
    width: 300px;
    margin-left: 100px;
}